[Unit]
Description=CSYE 6225 webapp
After=network.target

[Service]
ExecStart=/usr/bin/node /var/applications/webapp/src/server.js
Restart=always
User=csye6225
Group=csye6225
Environment=PATH=/usr/bin:/usr/local/bin
WorkingDirectory=/var/applications/webapp

[Install]
WantedBy=multi-user.target
